.insert-content{
  margin-top: 65px;
  text-align: -webkit-center;
}
.insert-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.5rem;
}

.insert-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.insert-content .input-div.user .input-div.pass{
	margin-bottom: 4px;
}
.btn_add{
  display: inline-block;
  border-radius: 25px;
  outline: none;
  padding: 5px 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
